{% extends "base.html" %}

{% block title %}Редактирование устройства - MikroTik Manager{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Редактирование устройства: {{ device.name }}</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="name" class="form-label">Название устройства</label>
                            <input type="text" class="form-control" id="name" name="name" 
                                   value="{{ device.name }}" required>
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="ip_address" class="form-label">IP адрес</label>
                            <input type="text" class="form-control" id="ip_address" name="ip_address" 
                                   value="{{ device.ip_address }}" required>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="port" class="form-label">Порт SSH</label>
                            <input type="number" class="form-control" id="port" name="port" 
                                   value="{{ device.port }}" min="1" max="65535">
                        </div>
                        
                        <div class="col-md-4 mb-3">
                            <label for="username" class="form-label">Имя пользователя</label>
                            <input type="text" class="form-control" id="username" name="username" 
                                   value="{{ device.username }}" required>
                        </div>
                        
                        <div class="col-md-4 mb-3">
                            <label for="password" class="form-label">Пароль</label>
                            <input type="password" class="form-control" id="password" name="password" 
                                   value="{{ device.password }}" required>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="description" class="form-label">Описание</label>
                        <textarea class="form-control" id="description" name="description" rows="3">{{ device.description or '' }}</textarea>
                    </div>
                    
                    <div class="d-flex justify-content-between">
                        <a href="{{ url_for('devices') }}" class="btn btn-secondary">Отмена</a>
                        <div>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save me-1"></i>Сохранить
                            </button>
                            <a href="{{ url_for('test_device_connection', device_id=device.id) }}" 
                               class="btn btn-info ms-2">
                                <i class="fas fa-plug me-1"></i>Тест подключения
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}